ECS_PUBLIC_URL=http://localhost:3000
PUBLIC_BASE_URL=https://kereo.online
AWS_REGION=eu-central-1
VPC_ID=vpc-xxxxxxxxxxxxxxxxx
ALB_LISTENER_ARN=<HTTPS listener ARN>
ALB_DNS_NAME=kereo-alb-123456789.eu-central-1.elb.amazonaws.com
ECS_CLUSTER_NAME=kereo-cluster
ECS_TASK_EXECUTION_ROLE_ARN=arn:aws:iam::123456789012:role/ecsTaskExecutionRole
ECS_SUBNET_IDS=subnet-xxxxxxxxxxxxxxxxx,subnet-yyyyyyyyyyyyyyyyy
ECS_SECURITY_GROUP_ID=sg-xxxxxxxxxxxxxxxxx
DATABASE_URL_PARAM_ARN=arn:aws:ssm:eu-central-1:123456789012:parameter/kereo/prod/DATABASE_URL
JWT_SECRET_PARAM_ARN=arn:aws:ssm:eu-central-1:123456789012:parameter/kereo/prod/JWT_SECRET
GITHUB_WEBHOOK_SECRET=replace-with-a-long-random-secret
